
body { 
width : 100%;
color: #333333;
font-weight: normal;
background: rgba(132, 110, 156, 0.3);

/*google fonts*/
font : 100%/1.4 'Tienne', arial, sans-serif; /* PT sans */

}

header{
background: rgba(132, 110, 156, 1);
width: auto;
}

#content {
background-color: white;
border-top: 8px solid rgba(132, 110, 156, 0.3);
}

#container section a, aside a{
color: rgba(132, 110, 156, 1);
}